<h4>Edit Hero</h4>

<div class="edit">
  <div class="break">
    <label>New Hero Name:</label>
    <input [(ngModel)]="selectedHero.name">
    <br>
    <label>New Hero Role:</label>
    <input [(ngModel)]="selectedHero.role">
  </div>

  <div class="break">
    <label>New Hero Description:</label>
    <input [(ngModel)]="selectedHero.description">
    <br>
    <label>New Hero Photo (url):</label>
    <input [(ngModel)]="selectedHero.photo">
  </div>

</div>

<div class="buttons">
  <button (click)="beginUpdatingHero(selectedHero)">Update</button>
  <button (click)="beginDeletingHero(selectedHero)">Delete</button>
</div>
