<h1>About</h1>
<div class="about">
  <p>Soldiers. Scientists. Adventurers. Oddities.
  <br>
  <br>
  In a time of global crisis, an international task force of heroes banded together to restore peace to a war-torn world: OVERWATCH.
  <br>
  <br>
  Overwatch ended the crisis, and helped maintain peace in the decades that followed, inspiring an era of exploration, innovation, and discovery. But, after many years, Overwatch’s influence waned, and it was eventually disbanded.
  <br>
  <br>
  Now, conflict is rising across the world again, and the call has gone out to heroes old and new. Are you with us? (copy from playoverwatch.com)</p>
</div>
