<h1>Request to join Overwatch</h1>
<div class="application">
  <div>
    <label>Hero Name:</label>
    <input #newName>
  </div>

  <div>
    <label>Hero Role:</label>
    <input #newRole>
  </div>

  <div>
    <label>Hero Photo (url):</label>
    <input #newPhoto>
  </div>
</div>

<div class="desc-button">
  <div>
    <label>Hero Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>
  <div class="button-center">
    <button (click)="submitForm(newName.value, newRole.value, newDescription.value, newPhoto.value); newName.value=''; newRole.value=''; newDescription.value=''; newPhoto.value=''">Add</button>
  </div>
</div>


<div>
  <app-heroes></app-heroes>
</div>
