/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: koverwatch;
  src: url('assets/fonts/koverwatch.ttf')
}

@font-face {
  font-family: bignoodletoo;
  src: url('assets/fonts/bignoodletoo.ttf')
}

html {
  background-image: url('assets/img/alternate.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
}
label, button, p, a, h3 {
  font-family: koverwatch;
}

h1, h4, input, textarea {
  font-family: bignoodletoo;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .home {
    img {
      height: 70px;
      margin-left: 10px;
      margin-top: 10px;
      &:hover {
        cursor: pointer;
      }
    }

}

  ul {
    display: flex;
    justify-content: space-around;
    width: 250px;
    font-size: 30px;
    margin-top: 0;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

h1 {
  font-size: 60px;
  margin-top: 50px;
}
.heroes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    height: 400px;
    &:hover {
      cursor: pointer;
    }
  }
  h3 {
    font-size: 40px;
    &:hover {
      cursor: pointer;
    }
  }
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

p {
  font-size: 30px;
}
